@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d1117;
  color: #FCFCFA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.App {
  align-items: center;
}

.header {
  margin-top: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  margin-left: 170px;
  margin-top: 2rem;
}

h1 {
  color: #FCFCFA;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
}

.todo-wrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 6px;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo input[type="checkbox"] {
  margin-right: 10px; /*
  ac Adjust the margin to control the spacing */
}

.todo input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border: 1px solid #1A1A40;
  border-radius: 3px;
  cursor: pointer;
  accent-color: #1A1A40;
}

.todo-form {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; /* Center text */
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem; /* Reduce the margin to keep elements closer */
  width: 300px;
  color: #fff;
  border-radius: 5px;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 2rem; /* Increase margin to add more space below the button */
  margin-top: 1rem;
}

.update-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
  width: 78px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container {
  padding: 2em 5rem;
  bottom: 0;
  border-top: 1px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
}

.footer__title {
    color: #FCFCFA;
}

.footer__title {
  text-align: center;
  margin-bottom: 1rem;
}

.footer__copy {
  display: block;
  margin-top: 2.5rem;
  color: var(--title-color);
  text-align: center;
  font-size: 0.813rem;
}

@media screen and (max-width: 576px) {

    .logo{
      margin-left: 50px;
    }

    .todo-wrapper {
      margin-top: 2rem;
      background: none;
    }

}

.footer__container.scrolled {
  transform: translateY(-30px);
}

